@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.slider-thumb::-webkit-slider-thumb {
  width: 20px; /* Set the width of the thumb */
  height: 20px; /* Set the height of the thumb */
  background-color: fuchsia; /* Change the background color of the thumb */
  border: 2px solid purple; /* Add a border to the thumb */
  border-radius: 50%; /* Make the thumb round */
  cursor: pointer; /* Change the cursor on hover */
}
